/* Generic styling */
@charset "UTF-8";
@font-face {
    font-family: Verdana;
    src: url(font/Verdana.eot);
    src: url(font/Verdana.eot?#iefix) format('embedded-opentype'), url(font/Verdana.woff2) format('woff2'), url(font/Verdana.woff) format('woff'), url(font/Verdana.ttf) format('truetype'), url(font/Verdana.svg#Verdana) format('svg');
    font-weight: 400;
    font-style: normal
}

body {
    font-size: 1.02em;
}

h1 {
    font-size: 1.55em;
    padding-bottom: 0.2em;
}

h2 {
    font-size: 1.38em;
}

h3 {
    font-size: 1.35em!important;
    padding-top: 0.35em;
    padding-bottom: 0.1em;
}

h4 {
    font-size: 1.2em!important;
    padding-top: 0.35em;
    padding-bottom: 0.1em;
}

i {
    font-size: 1em!important;
}

a {
    color: #0b62c1;
}

a:hover {
    color: #0050a8;
}

a[target=_blank]:not([href*="instagram"]):not([href*="facebook"]):after{
    font-family: "FontAwesome";
    content: "\f08e";
    font-size: 0.85em;
    color: #026FCF;
    padding-left: 5px;
}

.hidden {
    display: none
}

.always-visible {
    display: block!important;
}

.no-js-notification {
    color: red;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

/* Library selector */
@media screen and (max-width: 740px) {
    .select2-container {
        width: 100%!important;
    }
}


.select-lite .select2-container {
    width: 100%!important;
}

.select2-container--default .select2-results>.select2-results__options{
    max-height: 50vh!important;
}

#librarySelectorTitle {
    text-align: center;
}

#librarySelectorContainer {
    margin-bottom: 0.8em;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
}

.select-container {
    padding: auto!important;
    margin: auto!important;
    text-align: center!important;
}

.select2-container {
    text-align: center!important;
    align-content: center!important;
}

.underlined-title {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-bottom: 2px solid #026FCF;
    display: inline;
}

.map-library-changer {
    margin-top: 1em;
}

#mapContainer {
    width: 100%;
    height: 100%;
    z-index: 99;
}

#expandMap {
    top: 1em;
}

#noCoordinates {
    z-index: 999!important;
    position: relative;
    display: inline-block;
    margin-left: 3.5em;
    margin-top: 15px;
    width: 230px;
    font-weight: 600;
    font-size: .95rem;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* Homepage widget */
#btnOpenLibryPage {
    width: 100%;
    padding: .75em;
    font-size: 1.15em;
}

#homePageWidget {
    max-width: 800px;
    background:rgba(0,0,0,0)!important;
}